.main-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: $color1;
  transition: all $ease $duration;

  &.intro {
    .copy {
      top: 20vw;
    }
  }

  .circle {
    @extend .vertical-align;
    right: -12.5vw;
    width: 80vmin;
    height: 80vmin;
    border-radius: 100%;
    margin: auto;
    background-color: $color5;
    animation: circleIn $duration $ease forwards $duration/1.5;
    transition: all $ease $duration;
  }

  .copy {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    top: 10vw;
    right: 25vw;

    h1,
    h2 {
      display: inline-table;
      position: relative;
      margin: 0;
      opacity: 0;
      color: $color1;
      font-family: $header-font;
      @include textShadow($black, .3);
      line-height: 1;
      animation: fadeIn $duration/2 $ease forwards $duration/2;
    }

    h1 {
      font-size: 13vw;
    }

    h2 {
      font-size: 5.1vw;
    }

    a {
      margin-top: 30px;
      display: block;
    }
  }

  .copy,
  .titles,
  .btn {
    opacity: 0;
    animation: fadeIn $duration/2 $ease forwards $duration;
  }
}

.transition-out {

  section:not(.projects) {
    .circle {
      animation: circleOut $duration $ease forwards;
    }
  }

  section.projects {
    .circle.active {
      background-color: $color5;
      animation: circleOut $duration $ease forwards;
    }
  }

  .main-section {
    .copy,
    .titles,
    .btn {
      animation: fadeOut $duration/2 $ease forwards;
    }
  }
}
