body.work {
  .copy.logos {
    height: auto;

    @include mobile {
      left: auto;
    }

    h2 {
      margin: 0 auto 30px;
      text-shadow: none;
      text-transform: uppercase;
    }
  }

  .circle {
    background-color: $gray-blue;
  }
}

.client-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50vw;

  @include mobile {
    max-width: 100vw;
  }

  .client {
    height: 10vw;
    width: 10vw;
    max-width: 15rem;
    max-height: 15rem;

    @include mobile {
      min-height: 7rem;
      min-width: 7rem;
    }

    $client-tiles-names: vw target carvana tacobell fosterfarms answerfinancial zillow sevenup vanityfair cmab anthem motts canadadry deutsch steelhead;

    @each $client-tile-name in $client-tiles-names {
      &.#{$client-tile-name} {
        background: url("../img/logos/#{$client-tile-name}-logo.svg?v=4") center center no-repeat;
        background-size: contain;
      }
    }


  }
}
