@keyframes scaleUpIn {
  0% {
    opacity: 0;
    transform: scale(0.8) translate3d(0, 10%, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes scaleDownOut {
  0% {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translate3d(0, -10%, 0);
    opacity: 0;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-20vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(20vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes circleIn {
  0% {
    width: 120vmax;
    height: 120vmax;
  }

  100% {
    width: 50vw;
    height: 50vw;
  }
}


@keyframes circleOut {
  0% {
    width: 50vw;
    height: 50vw;
  }

  100% {
    width: 120vmax;
    height: 120vmax;
  }
}

@keyframes circleInMobile {
  0% {
    width: 120vmax;
    height: 120vmax;
  }

  100% {
    width: 80vw;
    height: 80vw;
  }
}


@keyframes circleOutMobile {
  0% {
    width: 80vw;
    height: 80vw;
  }

  100% {
    width: 120vmax;
    height: 120vmax;
  }
}

