@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');

$purple: #413557;
$rosy-brown: #A57E88;
$light-rosy-brown: #C49892;
$tan: #D5B2AD;
$gainsboro: #E8DEDB;

$base : $rosy-brown;
$darken : darken($base , 20%);
$back: darken($base, 30%);

$white: #fff;
$black: #000;

$header-font: 'Anton', sans-serif;
$body-font: 'Work Sans', sans-serif;

$duration: 1s;
$ease: cubic-bezier(1, 0, 0.5, 1);
