<div class="video-wrapper">

  <video id="video" poster="assets/video/portfolio_reel.jpg" playsinline tabindex="0" autobuffer="autobuffer" preload="preload">
    <source src="http://aliklein.com/video/portfolio_reel.mp4" type="video/mp4">
  </video>

  <div id="progress">
    <div id="progress-bar"></div>
  </div>

  <div class="controls">

    <button id="play-pause-button" class="play" title="play"><i class="fas"></i></button>

    <button id="mute-button" class="mute" title="mute"><i class="fas"></i></button>

    <button id="stop-button" class="stop" title="stop"><i class="fas fa-stop"></i></button>

    <button id="replay-button" class="replay" title="replay"><i class="fas fa-undo"></i></button>

    <button id="volume-dec-button" class="volume-minus" title="decrease volume"><i class="fas fa-minus"></i></button>

    <button id="volume-inc-button" class="volume-plus" title="increase volume"><i class="fas fa-plus"></i></button>
    <div id="volume-wrap">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div id="volume"></div>
    </div>

    <button id="fullscreen-button" class="replay" title="replay"><i class="fas fa-expand"></i></button>
  </div>

</div>
