body.about {

  .intro {

    .video-container {
      position: absolute;
      width: 50vw;
      height: 50vw;
      left: 0;
      top: 0;
      border-radius: 100%;
      overflow: hidden;
      opacity: 0;
      animation: fadeIn $duration forwards $duration*1.5;
    }
    .circle {

      video {
        position: absolute;
        @extend .align-both;
        width: 100%;
      }
    }
  }

  .transition-out {
    .intro {
      .video-container {
        animation: fadeOut $duration/2 forwards;
      }
    }
  }
}
