body.about {
  .copy.skills {
    height: auto;

    @include mobile {
      left: auto;
    }

    .titles {
      margin: 0 auto 0;

      h2 {
        @include mobile {
          font-size: 48px;
        }
      }
    }
  }
}

.skill-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50vw;

  @include mobile {
    max-width: 100vw;
  }

  .skill {
    height: 10vw;
    width: 10vw;
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 2rem;
    cursor: pointer;
    opacity: 0;
    transform: translateY(5vw);
    transition: all .2s ease-out .5s;
    transition-delay: 0s;

    .active & {
      transform: translateY(0);
      opacity: 1;

      @for $i from 1 to 30 {
        &:nth-child(#{$i}) {
          transition-delay: .5 + $i/100 + s;
        }
      }
    }

    &:after {
      position: absolute;
      top: -1rem;
      color: $white;
      text-align: center;
      width: 100%;
      opacity: 0;
      transition: all .2s ease-in;
    }

    &:hover {

      &:after {
        opacity: 1;
      }
    }

    @include mobile {
      min-height: 5rem;
      min-width: 5rem;
    }

    $skill-tiles-names: angular babel backbone bootstrap css3 es6 foundation gatsby git grunt gulp handlebars html5 javascript jira laravel less nodejs npm php react require sass snap svg travis vue webpack wordpress docker;

    @each $skill-tile-name in $skill-tiles-names {
      &.#{$skill-tile-name} {
        background: url("../img/skills/#{$skill-tile-name}.svg?v=4") center center no-repeat;
        background-size: 50%;

        &:after {
          content: '#{$skill-tile-name}';
        }
      }
    }
  }
}
