.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .slide {
    position:relative;
    width: 100vw;
    height: 95vh;

    .titles > * {
      opacity: 0;
      transform: translateX(20vw);
      transition: .5s;
    }

    &.animate {

      .titles > * {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .titles {
    position: absolute;
    left: 12.5vw;
    height: 50vw;
    color: $white;
    margin-top: 10vw;
    @extend .vertical-align;

    @include tablet {
      @include textShadow($black, .5);
    }

    @include mobile {
      height: 60vmax;
      margin-top: -40px;
    }

    h2,
    h4 {
      margin: 0;
      line-height: 1;
    }

    h2 {
      font-size: 8vw;

      @include mobile {
        font-size: 48px;
      }
    }

    h4 {
      font-size: 3vw;

      @include mobile {
        font-size: 22px;
      }
    }

    .btn {
      @include mobile {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .slick-slide {
    outline: 0;
    transition: opacity .5s ease-in;

    &:not(.slick-current) {
      opacity: 0;
    }
  }

  .slick-list {
    height: 100%;
  }

  .slick-dots {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;

    @include tablet {
      bottom: 60px;
    }

    li {
      width: 7px;
      height: 7px;
      margin: 0 7px;
      background-color: $gray-blue;
      border-radius: 100%;
      transition: background-color .2s ease;

      &.slick-active {
        width: 12px;
        height: 12px;
        background-color: lighten($gray-blue, 20%);
      }
    }

    button {
      text-indent: -99999999px;
      cursor: pointer;
      -webkit-appearance: none;
      opacity: 0;
    }
  }
}

.arrow {
  position: absolute;
  width: 5vw;
  cursor: pointer;
  @extend .vertical-align;
  z-index: 2;

  @include mobile {
    display: none !important;
  }

  &.arrow-prev {
    left: 5vmin;
    transform: rotate(180deg);
    top: calc(50% - 2.5vw);
  }

  &.arrow-next {
    right: 5vmin;
  }

  svg {
    width: 100%;
    pointer-events: none;

    path {
      pointer-events: none;
    }
  }
}

.main-section.projects {

  .carousel {

    .devices {
      position: relative;
      display: flex;
      height: 100%;
      transition: opacity .3s ease-out;

      img {
        position: absolute;
      }

      .desktop {
        width: 80%;
        top: 20%;
        left: 10%;
      }

      .laptop {
        width: 60%;
        left: -10%;
        bottom: 10%;
      }

      .mobile {
        width: 20%;
        right: 0;
        bottom: 15%;

        @include mobile {
          display: none;
        }
      }
    }

    .about {
      color: $white;
      @extend .align-both;
      opacity: 0;
      pointer-events: none;

      @include mobile {
        width: 70%;
        padding-right: 10%;
      }

      h3 {
        position: relative;
        font-size: 4vw;
        line-height: 0.8;
        margin: 0 0 20px;

        @include mobile {
          font-size: 40px;
        }
      }

      ul {
        position: relative;
        padding-left: 35px;
        list-style: none;

        &:before {
          content: '';
          position: absolute;
          width: 20px;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $dark-gray-blue;
          z-index: -1;
        }
      }

      li, a {
        font-size: calc(.5em + 1vw);

        @include mobile {
          font-size: 18px;
        }
      }
    }

    .slide.open {

      .circle {

        @include tablet {
          z-index: 1;
        }
      }

      .titles {

        > *:not(.btn) {
          opacity: 0;
          pointer-events: none;
        }
      }

      .devices {
        opacity: 0;
      }

      .about {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.landing-animation {
  .devices img {
    opacity: 0;
    animation: fadeIn .5s ease-in forwards 1.5s;
  }
}

.transition-in {

  .circle {
    .devices {
      opacity: 1;
    }
  }
}

.transition-out {

  .circle {
    .devices {
      opacity: 0;
    }
  }
}
