@import url('https://fonts.googleapis.com/css?family=Anton|Work+Sans:400|Heebo:900');

$gray-blue: #64718C;
$dark-gray-blue: #374A67;
$pink: #EFD0CA;

$base: $dark-gray-blue;

$white: #fff;
$black: #000;

$header-font: 'Heebo', sans-serif;
$body-font: 'Work Sans', sans-serif;

$duration: 1s;
//$ease: cubic-bezier(1, 0, 0.5, 1);
$ease: ease-in-out;
