@import url("https://fonts.googleapis.com/css?family=Anton|Work+Sans:400|Heebo:900");

$dark-gray-blue: #374a67;
$gray-blue: #64718c;
$pink: #efd0ca;

$base: #eee;
$base-light: #ccc;
$highlight: $pink;

$white: #fff;
$black: #000;

$base-text: $black;

$header-font: "Heebo", sans-serif;
$body-font: "Work Sans", sans-serif;

$duration: 0.75s;
//$ease: cubic-bezier(1, 0, 0.5, 1);
$ease: ease-in-out;
