.main-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: $base;
  transition: all $ease $duration;
  border: 20px solid $white;

  .copy {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    left: 12.5vw;
    height: 50vw;
    @extend .vertical-align;

    h1,
    h2 {
      display: inline-table;
      position: relative;
      margin: 0;
      opacity: 0;
      color: $white;
      font-family: $header-font;
      @include textShadow($black, .3);
      line-height: 1;
      animation: fadeIn $duration/2 $ease forwards $duration/2;
    }

    h1 {
      font-size: 13vw;
    }

    h2 {
      font-size: 5.1vw;
    }

    a {
      margin-top: 30px;
      display: block;
    }
  }

  &.active {

    .copy,
    .titles {
      opacity: 0;
      animation: fadeInRight $duration/2 $ease forwards;
    }
  }

  &.landing-animation {
    .copy,
    .titles {
      animation-delay: $duration * 1.5;
    }
  }
}

.transition-out {

  .circle .me {
    animation: fadeOut .2s ease-in forwards !important;
  }

  .main-section {
    .copy,
    .titles,
    .btn {
      animation: fadeOut $duration/2 $ease forwards;
    }
  }
}

body:not(.home) {
  .copy{
    opacity: 0;
    animation: fadeInRight $duration/2 $ease forwards $duration*1.5;
  }
}

body.home {
  .intro {
    .copy {
      margin-top: 10vw;
      transition: all .2s ease .5s;
    }
  }
}
