//.main-section {
//
//  &:nth-of-type(odd) {
//    .ui-dots div {
//      background-color: rgba($gray-blue, .5);
//    }
//  }
//
//  &:nth-of-type(even) {
//    .ui-dots div {
//      background-color: rgba($pink, .5);
//    }
//  }
//}

.ui-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .3s ease-in;

  div {
    position: absolute;
    background-color: rgba(darken($dark-gray-blue, 10%), .3);
    border-radius: 100%;
    opacity: 0;
    transform: translateY(200px);

    &:first-of-type {
      top: 5%;
      left: 25%;
      width: 7vw;
      height: 7vw;

      @include mobile {
        top: 11%;
        left: 25%;
        width: 40px;
        height: 40px;
      }
    }

    &:nth-of-type(2) {
      top: 20%;
      left: 4%;
      width: 3vw;
      height: 3vw;

      @include mobile {
        top: 20%;
        left: 4%;
        width: 20px;
        height: 20px;
      }
    }

    &:nth-of-type(3) {
      top: 16%;
      right: 18%;
      width: 9vw;
      height: 9vw;

      @include mobile {
        top: 16%;
        right: 18%;
        width: 60px;
        height: 60px;
      }
    }

    &:nth-of-type(4) {
      top: 30%;
      right: 5%;
      width: 2vw;
      height: 2vw;

      @include mobile {
        bottom: 7%;
        right: 5%;
        width: 90px;
        height: 90px;
        top: auto;
      }
    }

    &:nth-of-type(5) {
      bottom: 30%;
      right: 7%;
      width: 4vw;
      height: 4vw;

      @include mobile {
        bottom: auto;
        top: 1%;
        right: 16%;
        width: 30px;
        height: 30px;
      }
    }

    &:nth-of-type(6) {
      bottom: 30%;
      left: 5%;
      width: 8vw;
      height: 8vw;

      @include mobile {
        bottom: 8%;
        left: 15%;
        width: 35px;
        height: 35px;
      }
    }

    &:nth-of-type(7) {
      bottom: 5%;
      left: 50%;
      width: 6vw;
      height: 6vw;

      @include mobile {
        bottom: 12%;
        width: 20px;
        height: 20px;
      }
    }

    @for $i from 1 to 30 {
      &:nth-child(#{$i}) {
        animation-delay: .5 + $i/20 + s;
      }
    }
  }

  .active & {

    div {
      animation-name: uiDots;
      animation-duration: .2s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }
}

.landing-animation {
  .ui-dots {
    div {
      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          animation-delay: 1 + $i/50 + s;
        }
      }
    }
  }
}

.transition-out {
  .ui-dots {
    opacity: 0;
  }
}
