//.main-section {
//
//  &:nth-of-type(odd) {
//    .ui-dots div {
//      background-color: rgba($gray-blue, .5);
//    }
//  }
//
//  &:nth-of-type(even) {
//    .ui-dots div {
//      background-color: rgba($pink, .5);
//    }
//  }
//}

.ui-dots {
  position: absolute;
  width: 100%;
  height: 100%;

  div {
    position: absolute;
    background-color: rgba($gray-blue, .5);
    border-radius: 100%;
    opacity: 0;
    transform: translateY(200px);

    &:first-of-type {
      top: 5%;
      left: 25%;
      width: 7vw;
      height: 7vw;
    }

    &:nth-of-type(2) {
      top: 20%;
      left: 4%;
      width: 3vw;
      height: 3vw;
    }

    &:nth-of-type(3) {
      top: 16%;
      right: 18%;
      width: 9vw;
      height: 9vw;
    }

    &:nth-of-type(4) {
      top: 30%;
      right: 5%;
      width: 2vw;
      height: 2vw;
    }

    &:nth-of-type(5) {
      bottom: 30%;
      right: 7%;
      width: 4vw;
      height: 4vw;
    }

    &:nth-of-type(6) {
      bottom: 30%;
      left: 5%;
      width: 8vw;
      height: 8vw;
    }

    &:nth-of-type(7) {
      bottom: 5%;
      left: 20%;
      width: 6vw;
      height: 6vw;
    }

    @for $i from 1 to 30 {
      &:nth-child(#{$i}) {
        animation-delay: .5 + $i/20 + s;
      }
    }
  }

  .active & {

    div {
      animation-name: uiDots;
      animation-duration: .2s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }
}

.landing-animation {
  .ui-dots {
    div {
      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          animation-delay: 1 + $i/50 + s;
        }
      }
    }
  }
}
