{% set page_title = "About" %}
{% set namespace = "about" %}

{% extends "layout.html" %}

{% block main %}

  <section class="main-section intro">

    <div class="circle">
      <div class="video-container">
        <video autoplay muted loop playsinline>
          <source src="assets/video/ali-cat.mp4" type="video/mp4">
          <source src="assets/video/ali-cat.ogv" type="video/ogg">
          <source src="assets/video/ali-cat.webm" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="copy">
      <h1>About</h1>
      <h2>Me and My Work</h2>
      <a class="btn" href="/">Learn More<span></span></a>
    </div>

  </section>


{% endblock %}
