{% set page_title = "Contact" %}
{% set namespace = "contact" %}

{% extends "layout.html" %}

{% block main %}

<section class="main-section scroll-section active">

  <div class="circle blue">
    <img src="assets/img/ali-pole.png" class="me" alt="Ali Klein"/>
  </div>

  <div class="copy">
    <h1>Contact</h1>
    <h2>Me and Say Hello</h2>
    <a class="btn dark" href="mailto:me@aliklein.com" target="_top">me@aliklein.com<span></span></a>

    <p><span>IG:</span><a href="https://www.instagram.com/kodewitch/" target="_blank" class="link">@kodewitch</a></p>
    <p><span>TWITTER:</span><a href="https://twitter.com/thealiklein" target="_blank" class="link">@thealiklein</a></p>
  </div>

</section>

{% endblock %}
