<!doctype html>
<html class="no-js">
{% include "head.html" %}
<body id="contact" class="contact">
  {% include "navigation.html" %}

  <div id="barba-wrapper">
    <div class="barba-container" data-namespace="contact">

      <section class="main-section">

        <div class="circle">
        </div>

        <div class="copy">
          <h1>Contact</h1>
          <h2>Me and Say Hello</h2>
          <a class="btn" href="/">Learn More<span></span></a>
        </div>

      </section>

    </div>
  </div>

  {% include "scripts.html" %}

</body>
</html>
