{% set page_title = "Projects" %}
{% set namespace = "projects" %}

{% extends "layout.html" %}

{% block main %}

  <section class="main-section">

    <div class="circle">
      <img src="../assets/img/projects/steelhead/intro.png" class="img-intro"/>
    </div>

    <div class="copy">
      <h1>Steelhead</h1>
      <h2>Website</h2>

      <div class="details">
        <h3>Lead Developer</h3>
        <ul>
          <li>October CMS</li>
          <li>Twig</li>
          <li>PHP</li>
          <li>ES6</li>
          <li>Babel</li>
          <li>Barba.js</li>
        </ul>
      </div>
    </div>

  </section>

  <section class="project">

    <div>
      <div class="img">
        <img src="../assets/img/projects/steelhead/steelhead-1.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/steelhead/steelhead-2.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/steelhead/steelhead-3.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/steelhead/steelhead-4.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/steelhead/steelhead-5.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/steelhead/steelhead-6.jpg" alt=""/>
      </div>
    </div>

  </section>

{% endblock %}

