{% set page_title = "Projects" %}
{% set namespace = "projects" %}

{% extends "layout.html" %}

{% block main %}

  <section class="main-section">

    <div class="circle">
      <img src="../assets/img/projects/thorn/intro.png" class="img-intro"/>
    </div>

    <div class="copy">
      <h1>We Are Thorn</h1>
      <h2>Website Redesign</h2>

      <div class="details">
        <h3>Lead Developer</h3>
        <ul>
          <li>Wordpress</li>
          <li>Salient Theme</li>
          <li>Visual Composer</li>
          <li>PHP</li>
        </ul>
      </div>
    </div>

  </section>

  <section class="project">

    <div>
      <div class="img">
        <img src="../assets/img/projects/thorn/thorn-1.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/thorn/thorn-2.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/thorn/thorn-3.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/thorn/thorn-4.jpg" alt=""/>
      </div>
      <div class="img">
        <img src="../assets/img/projects/thorn/thorn-5.jpg" alt=""/>
      </div>
    </div>

  </section>

{% endblock %}

