{% set page_title = "Work" %}
{% set namespace = "work" %}

{% extends "layout.html" %}

{% block main %}

  <section class="main-section scroll-section">

    <div class="circle">
    </div>

    <div class="copy">
      <h1>Work</h1>
      <h2>Me and My Work</h2>
    </div>
  </section>

  <section class="main-section scroll-section">

    <div class="circle">
    </div>

    <div class="copy logos">
      <h2>Clients</h2>
      <div class="client-wrapper">
        <div class="client vw"></div>
        <div class="client target"></div>
        <div class="client tacobell"></div>
        <div class="client sevenup"></div>
        <div class="client fosterfarms"></div>
        <div class="client canadadry"></div>
        <div class="client motts"></div>
        <div class="client anthem"></div>
        <div class="client cmab"></div>
        <div class="client zillow"></div>
        <div class="client answerfinancial"></div>
        <div class="client vanityfair"></div>
        <div class="client carvana"></div>
        <div class="client deutsch"></div>
        <div class="client steelhead"></div>
      </div>
    </div>
</section>

{% endblock %}
