{% set page_title = "Work" %}
{% set namespace = "work" %}

{% set slides = [
    {
      "project"  : "steelhead",
      "headline" : "Steelhead",
      "type" : "Website",
      "role" : "Lead Developer",
      "items" : ["October CMS", "PHP", "ES6", "Twig", "Gulp"],
      "cta" : "http://steelhead.tv/",
      "cta_text" : "steelhead.tv"
    },
    {
      "project"  : "thorn",
      "headline" : "We Are Thorn",
      "type" : "Website Redesign",
      "role" : "Lead Developer",
      "items" : ["Wordpress", "Salient Theme", "Visual Composer", "PHP"],
      "cta" : "http://wearethorn.org/",
      "cta_text" : "wearethorn.org"
    },
    {
      "project"  : "carvana",
      "headline" : "Carvana",
      "type" : "Website",
      "role" : "UI/UX Engineer",
      "items" : ["Angular", "C#", ".NET", "CSS Animations"],
      "cta" : "https://www.carvana.com/",
      "cta_text" : "carvana.com"
    },
    {
      "project"  : "deutsch",
      "headline" : "Deutsch",
      "type" : "Website",
      "role" : "Lead Front End Engineer",
      "items" : ["Angular", "October CMS", "Twig", "Greensock", "Vimeo API", "Gulp"],
      "cta" : "http://www.deutsch.com/",
      "cta_text" : "deutsch.com"
    },
    {
      "project"  : "newsroom",
      "headline" : "VW Newsroom",
      "type" : "Website Blog",
      "role" : "Lead Front End Engineer",
      "items" : ["Wordpress", "PHP", "JavaScript", "Backbone", "Gulp"],
      "cta" : "http://newsroom.vw.com/",
      "cta_text" : "newsroom.vw.com"
    },
    {
      "project"  : "vw",
      "headline" : "Volkswagen",
      "type" : "Website",
      "role" : "Front End Developer",
      "items" : ["CQ", "Backbone", "React", "JSP", "THREE.js"],
      "cta" : "http://www.vw.com/",
      "cta_text" : "vw.com"
    },
    {
      "project"  : "tacobell",
      "headline" : "Tacobell",
      "type" : "Website",
      "role" : "Front End Developer",
      "items" : ["Sitecore", "Backbone", "Require", "C#", ".NET"],
      "cta" : "https://www.tacobell.com/",
      "cta_text" : "ta.co"
    },
    {
      "project"  : "target",
      "headline" : "Target",
      "type" : "Application",
      "role" : "Front End Engineer",
      "items" : ["Backbone", "Handlebars", "Greensock", "Grunt", "Facebook API", "Instagram API", "Pinterest API"],
      "cta" : "http://adage.com/article/acxiom/target-taps-millenial-market-back-school-push/299675/",
      "cta_text" : "Adage Article"
    },
    {
      "project"  : "cmab",
      "headline" : "Real California Milk",
      "type" : "Website",
      "role" : "Front End Engineer",
      "items" : ["Backbone", "Require", "Greensock", "Twig", "October", "Gulp"],
      "cta" : "http://www.realcaliforniamilk.com/",
      "cta_text" : "realcaliforniamilk.com"
    },
    {
      "project"  : "anthem",
      "headline" : "Anthem",
      "type" : "Website",
      "role" : "Front End Engineer",
      "items" : ["ES6", "Bootstrap", "Nunjucks", "Sass Control Directives"],
      "cta" : "https://www.anthem.com/",
      "cta_text" : "anthem.com"
    },
    {
      "project"  : "fosterfarms",
      "headline" : "Foster Farms",
      "type" : "Website",
      "role" : "Front End Engineer",
      "items" : ["Backbone", "Require", "Twig", "Wordpress", "Gulp"],
      "cta" : "https://www.fosterfarms.com/",
      "cta_text" : "fosterfarms.com"
    }
  ]
%}

{% extends "layout.html" %}

{% block main %}

  <section class="main-section scroll-section projects">

    {% include "carousel.html" %}

  </section>

  <section class="main-section scroll-section">

    <div class="circle"></div>

    {% include "video.html" %}

  </section>

  <section class="main-section scroll-section">

    <div class="circle">
    </div>

    <div class="copy logos">
      <h2>Select Clients</h2>
      <div class="client-wrapper">
        <div class="client vw"></div>
        <div class="client target"></div>
        <div class="client tacobell"></div>
        <div class="client canadadry"></div>
        <div class="client motts"></div>
        <div class="client cmab"></div>
        <div class="client vanityfair"></div>
        <div class="client carvana"></div>
        <div class="client anthem"></div>
        <div class="client fosterfarms"></div>
        <div class="client sevenup"></div>
        <div class="client zillow"></div>
        <div class="client answerfinancial"></div>
        <div class="client deutsch"></div>
        <div class="client steelhead"></div>
      </div>
    </div>
</section>

{% endblock %}
