.flex-both-align {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: start;
      align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.align-both, article .next .copy {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 62.5%; }

body {
  font: 300 16px 'Helvetica Neue', Helvetica, Arial; }

a {
  color: #fff; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

article img {
  width: 100%; }

article .copy {
  padding: 10% 20%; }
  article .copy h2 {
    font-size: 38px; }
  article .copy p {
    line-height: 1.5; }

article .next {
  position: relative;
  height: 20vw;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s ease-out; }
  article .next .copy {
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
    transition: all 0.5s ease-out; }
    article .next .copy a {
      font-size: 20px; }
  article .next img {
    position: relative; }
  article .next:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-out; }

.transition-out {
  opacity: 0;
  transition: all 1s ease-out; }
  .transition-out article > img {
    opacity: 0;
    transition: all 0.5s ease-out; }
  .transition-out .content > .copy {
    animation: scaleDownOut 0.25s ease-out forwards; }
  .transition-out .next {
    height: auto;
    overflow: visible; }
    .transition-out .next .copy {
      opacity: 0; }
    .transition-out .next:after {
      opacity: 0; }

.transition-in {
  opacity: 0;
  transition: all 1s ease-out; }
  .transition-in .content > .copy p, .transition-in .content > .copy h2 {
    animation: scaleUpIn 0.25s ease-out forwards;
    opacity: 0; }
    .transition-in .content > .copy p:nth-child(1), .transition-in .content > .copy h2:nth-child(1) {
      animation-delay: 0.1s; }
    .transition-in .content > .copy p:nth-child(2), .transition-in .content > .copy h2:nth-child(2) {
      animation-delay: 0.2s; }
    .transition-in .content > .copy p:nth-child(3), .transition-in .content > .copy h2:nth-child(3) {
      animation-delay: 0.3s; }
    .transition-in .content > .copy p:nth-child(4), .transition-in .content > .copy h2:nth-child(4) {
      animation-delay: 0.4s; }
    .transition-in .content > .copy p:nth-child(5), .transition-in .content > .copy h2:nth-child(5) {
      animation-delay: 0.5s; }
    .transition-in .content > .copy p:nth-child(6), .transition-in .content > .copy h2:nth-child(6) {
      animation-delay: 0.6s; }
    .transition-in .content > .copy p:nth-child(7), .transition-in .content > .copy h2:nth-child(7) {
      animation-delay: 0.7s; }
    .transition-in .content > .copy p:nth-child(8), .transition-in .content > .copy h2:nth-child(8) {
      animation-delay: 0.8s; }
    .transition-in .content > .copy p:nth-child(9), .transition-in .content > .copy h2:nth-child(9) {
      animation-delay: 0.9s; }
    .transition-in .content > .copy p:nth-child(10), .transition-in .content > .copy h2:nth-child(10) {
      animation-delay: 1s; }
    .transition-in .content > .copy p:nth-child(11), .transition-in .content > .copy h2:nth-child(11) {
      animation-delay: 1.1s; }
    .transition-in .content > .copy p:nth-child(12), .transition-in .content > .copy h2:nth-child(12) {
      animation-delay: 1.2s; }
    .transition-in .content > .copy p:nth-child(13), .transition-in .content > .copy h2:nth-child(13) {
      animation-delay: 1.3s; }
    .transition-in .content > .copy p:nth-child(14), .transition-in .content > .copy h2:nth-child(14) {
      animation-delay: 1.4s; }
    .transition-in .content > .copy p:nth-child(15), .transition-in .content > .copy h2:nth-child(15) {
      animation-delay: 1.5s; }
    .transition-in .content > .copy p:nth-child(16), .transition-in .content > .copy h2:nth-child(16) {
      animation-delay: 1.6s; }
    .transition-in .content > .copy p:nth-child(17), .transition-in .content > .copy h2:nth-child(17) {
      animation-delay: 1.7s; }
    .transition-in .content > .copy p:nth-child(18), .transition-in .content > .copy h2:nth-child(18) {
      animation-delay: 1.8s; }
    .transition-in .content > .copy p:nth-child(19), .transition-in .content > .copy h2:nth-child(19) {
      animation-delay: 1.9s; }
    .transition-in .content > .copy p:nth-child(20), .transition-in .content > .copy h2:nth-child(20) {
      animation-delay: 2s; }
    .transition-in .content > .copy p:nth-child(21), .transition-in .content > .copy h2:nth-child(21) {
      animation-delay: 2.1s; }
    .transition-in .content > .copy p:nth-child(22), .transition-in .content > .copy h2:nth-child(22) {
      animation-delay: 2.2s; }
    .transition-in .content > .copy p:nth-child(23), .transition-in .content > .copy h2:nth-child(23) {
      animation-delay: 2.3s; }
    .transition-in .content > .copy p:nth-child(24), .transition-in .content > .copy h2:nth-child(24) {
      animation-delay: 2.4s; }
    .transition-in .content > .copy p:nth-child(25), .transition-in .content > .copy h2:nth-child(25) {
      animation-delay: 2.5s; }
    .transition-in .content > .copy p:nth-child(26), .transition-in .content > .copy h2:nth-child(26) {
      animation-delay: 2.6s; }
    .transition-in .content > .copy p:nth-child(27), .transition-in .content > .copy h2:nth-child(27) {
      animation-delay: 2.7s; }
    .transition-in .content > .copy p:nth-child(28), .transition-in .content > .copy h2:nth-child(28) {
      animation-delay: 2.8s; }
    .transition-in .content > .copy p:nth-child(29), .transition-in .content > .copy h2:nth-child(29) {
      animation-delay: 2.9s; }
    .transition-in .content > .copy p:nth-child(30), .transition-in .content > .copy h2:nth-child(30) {
      animation-delay: 3s; }
    .transition-in .content > .copy p:nth-child(31), .transition-in .content > .copy h2:nth-child(31) {
      animation-delay: 3.1s; }
    .transition-in .content > .copy p:nth-child(32), .transition-in .content > .copy h2:nth-child(32) {
      animation-delay: 3.2s; }
    .transition-in .content > .copy p:nth-child(33), .transition-in .content > .copy h2:nth-child(33) {
      animation-delay: 3.3s; }
    .transition-in .content > .copy p:nth-child(34), .transition-in .content > .copy h2:nth-child(34) {
      animation-delay: 3.4s; }
    .transition-in .content > .copy p:nth-child(35), .transition-in .content > .copy h2:nth-child(35) {
      animation-delay: 3.5s; }
    .transition-in .content > .copy p:nth-child(36), .transition-in .content > .copy h2:nth-child(36) {
      animation-delay: 3.6s; }
    .transition-in .content > .copy p:nth-child(37), .transition-in .content > .copy h2:nth-child(37) {
      animation-delay: 3.7s; }
    .transition-in .content > .copy p:nth-child(38), .transition-in .content > .copy h2:nth-child(38) {
      animation-delay: 3.8s; }
    .transition-in .content > .copy p:nth-child(39), .transition-in .content > .copy h2:nth-child(39) {
      animation-delay: 3.9s; }
  .transition-in .next {
    animation: scaleUpIn 0.25s ease-out; }

@keyframes scaleUpIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 10%, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes scaleDownOut {
  0% {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1; }
  100% {
    transform: scale(0.8) translate3d(0, -10%, 0);
    opacity: 0; } }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
